<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src = "/jquery-3.3.1.min.js"></script>
  <script src = "/socket.io.slim.js"></script>
  <script>

var socket = io();
$(function(){

  if (getCookieValue("hanabi_user_id")==""){
    document.cookie = "hanabi_user_id=" + btoa(Math.random()).substr(5,10);
  }

  var userID = getCookieValue("hanabi_user_id");


  socket.emit("user joined", userID);

  socket.on("server response", function(data){
    alert("We have received an event");
    console.log(data);
  });

})
socket.on("connection", function(socket){
  socket.join("living room")
})

function getCookieValue(a) {
    var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
    return b ? b.pop() : '';
}

  </script>
  <title>Document</title>
</head>
<body>
test index file
</body>
</html>
